/* src/pages/NotFound.css */

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    background-color: #f8f9fa; /* Light background color */
    color: #3C5916; /* Dark text color */
  }
  
  .not-found h1 {
    font-size: 72px; /* Large font for the 404 code */
    margin: 0;
  }
  
  .not-found h2 {
    font-size: 36px; /* Medium font for the error message */
  }
  
  .not-found p {
    font-size: 18px; /* Normal font size for description */
  }
  
  .home-link {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3C5916; /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .home-link:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  